version: '3'

services:
  cqhttp:
    container_name: cqhttp
    image: richardchien/cqhttp:4.14.0
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./cqhttp:/home/user/coolq
    ports:
      - "9000:9000"
      # - "5700:5700"
    environment:
      - COOLQ_ACCOUNT=3424989164        # 酷Q账号（QQ账号）
      - VNC_PASSWD=123456               # nvc 密码
      - FORCE_ENV=true                  # 强制覆盖原有配置，否则配置不会更新。。
      #- CQHTTP_USE_HTTP=no             # 关闭 http api
      #- CQHTTP_USE_WS_REVERSE=yes      # 启用反向 websocket api
      #- CQHTTP_ACCESS_TOKEN=token      # api 连接时需要的 token
      #- CQHTTP_SECRET=secret           # secret 用于数据签名，反向 websocket 中不需要（因为握手阶段没有数据要传输）
      #- CQHTTP_WS_REVERSE_API_URL=$CQHTTP_WS_REVERSE_API_URL
      #- CQHTTP_WS_REVERSE_EVENT_URL=$CQHTTP_WS_REVERSE_EVENT_URL
      #- CQHTTP_SERVE_DATA_FILES=$CQHTTP_SERVE_DATA_FILES             # 允许访问 data 文件夹中的文件
      - CQHTTP_POST_URL=http://gobot:8080/qq
      - CQHTTP_SERVE_DATA_FILES=yes
    depends_on:
      - gobot

  gobot:
    container_name: gobot
    image: golang:1.13
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - .:/app/src
    environment:
      - TZ=Asia/Shanghai
      - GO111MODULE=on
      - GOPROXY=https://goproxy.cn,direct
    command: bash -c "cd /app/src && go run main.go"
